In [29]:
! pip install pyreadstat pyarrow

Requirement already satisfied: pyreadstat in ./.venv/lib/python3.9/site-packages (1.2.7)
Requirement already satisfied: pyarrow in ./.venv/lib/python3.9/site-packages (16.1.0)
Requirement already satisfied: pandas>=1.2.0 in ./.venv/lib/python3.9/site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.16.6 in ./.venv/lib/python3.9/site-packages (from pyarrow) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.9/site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: pip install --upgrade pip

In [30]:
import pandas as pd
import pyreadstat

# 指定 SPSS 檔案的路徑
file_path = r'STU_CY07_MSU_STU_QQQ.feather'

# 使用 pyreadstat 讀取 SPSS 檔案
df = pd.read_feather(file_path)

# 顯示前幾行資料
print(df.head())

   CNTRYID  CNT  CNTSCHID  CNTSTUID   CYC  NatCen  STRATUM SUBNATIO  OECD  \
0      8.0  ALB  800002.0  800251.0  07MS  000800  ALB0109  0080000   0.0
1      8.0  ALB  800002.0  800402.0  07MS  000800  ALB0109  0080000   0.0
2      8.0  ALB  800002.0  801902.0  07MS  000800  ALB0109  0080000   0.0
3      8.0  ALB  800002.0  803546.0  07MS  000800  ALB0109  0080000   0.0
4      8.0  ALB  800002.0  804776.0  07MS  000800  ALB0109  0080000   0.0

   ADMINMODE  ...  PV4RTML  PV5RTML  PV6RTML  PV7RTML  PV8RTML  PV9RTML  \
0        2.0  ...  303.127  362.862  370.634  376.306  343.337  339.973
1        2.0  ...  412.093  410.709  437.901  430.188  403.804  457.625
2        2.0  ...  258.384  337.295  248.659  291.314  326.906  311.582
3        2.0  ...  422.430  452.831  452.842  441.359  463.541  440.298
4        2.0  ...  399.215  319.882  350.976  334.622  378.287  369.191

   PV10RTML    SENWT             VER_DAT  test
0   323.844  2.41652    09MAY19:11:20:53   NaN
1   391.290  2.41652    09MAY19:11:20:53   NaN
2   284.867  1.69989    09MAY19:11:20:53   NaN
3   447.464  2.41652    09MAY19:11:20:53   NaN
4   315.529  2.41652    09MAY19:11:20:53   NaN

[5 rows x 1119 columns]

In [31]:
# 問卷篩選出df中的CNT等於TAP
Taiwan_QQQ = df[df['CNT']=='TAP']
# 找出問卷中column名稱為'PV1MATH'的資料
print(Taiwan_QQQ.describe()['PV7MATH'])

count    7243.000000
mean      527.786388
std        99.324069
min        66.409000
25%       460.766000
50%       532.247000
75%       598.024500
max       839.183000
Name: PV7MATH, dtype: float64

In [32]:
Taiwan_QQQ.info()
# 只留下float64的資料  
Taiwan_QQQ = Taiwan_QQQ.select_dtypes(include=['float64'])
# 去除標準差為0的資料
Taiwan_QQQ = Taiwan_QQQ.loc[:, Taiwan_QQQ.std() != 0]
# 將Mathematics PV1MATH 到 PV10MATH 的資料取平均新增一個欄位為Math_score
Taiwan_QQQ['Math_score'] = Taiwan_QQQ.loc[:, 'PV1MATH':'PV10MATH'].mean(axis=1)
# 將Science PV1SCIE 到 PV10SCIE 的資料取平均新增一個欄位為Science_score
Taiwan_QQQ['Science_score'] = Taiwan_QQQ.loc[:, 'PV1SCIE':'PV10SCIE'].mean(axis=1)
# 將Reading PV1READ 到 PV10READ 的資料取平均新增一個欄位為Reading_score
Taiwan_QQQ['Reading_score'] = Taiwan_QQQ.loc[:, 'PV1READ':'PV10READ'].mean(axis=1)
# 去除不必要的欄位
Taiwan_QQQ = Taiwan_QQQ.drop(['PV1MATH', 'PV2MATH', 'PV3MATH', 'PV4MATH', 'PV5MATH', 'PV6MATH', 'PV7MATH', 'PV8MATH', 'PV9MATH', 'PV10MATH', 'PV1SCIE', 'PV2SCIE', 'PV3SCIE', 'PV4SCIE', 'PV5SCIE', 'PV6SCIE', 'PV7SCIE', 'PV8SCIE', 'PV9SCIE', 'PV10SCIE', 'PV1READ', 'PV2READ', 'PV3READ', 'PV4READ', 'PV5READ', 'PV6READ', 'PV7READ', 'PV8READ', 'PV9READ', 'PV10READ'], axis=1)
# 去除不必要的欄位 PV1GLCM 到 PV10GLCM、PV1RCLI 到 PV10RCLI、PV1RCUN 到 PV10RCUN、PV1RCER 到 PV10RCER、PV1RTSN 到 PV10RTSN、PV1RTML 到 PV10RTML
Taiwan_QQQ = Taiwan_QQQ.drop(['PV1GLCM', 'PV2GLCM', 'PV3GLCM', 'PV4GLCM', 'PV5GLCM', 'PV6GLCM', 'PV7GLCM', 'PV8GLCM', 'PV9GLCM', 'PV10GLCM', 'PV1RCLI', 'PV2RCLI', 'PV3RCLI', 'PV4RCLI', 'PV5RCLI', 'PV6RCLI', 'PV7RCLI', 'PV8RCLI', 'PV9RCLI', 'PV10RCLI', 'PV1RCUN', 'PV2RCUN', 'PV3RCUN', 'PV4RCUN', 'PV5RCUN', 'PV6RCUN', 'PV7RCUN', 'PV8RCUN', 'PV9RCUN', 'PV10RCUN', 'PV1RCER', 'PV2RCER', 'PV3RCER', 'PV4RCER', 'PV5RCER', 'PV6RCER', 'PV7RCER', 'PV8RCER', 'PV9RCER', 'PV10RCER', 'PV1RTSN', 'PV2RTSN', 'PV3RTSN', 'PV4RTSN', 'PV5RTSN', 'PV6RTSN', 'PV7RTSN', 'PV8RTSN', 'PV9RTSN', 'PV10RTSN', 'PV1RTML', 'PV2RTML', 'PV3RTML', 'PV4RTML', 'PV5RTML', 'PV6RTML', 'PV7RTML', 'PV8RTML', 'PV9RTML', 'PV10RTML'], axis=1)

<class 'pandas.core.frame.DataFrame'>
Index: 7243 entries, 567762 to 575004
Columns: 1119 entries, CNTRYID to test
dtypes: float64(1103), object(16)
memory usage: 61.9+ MB

In [33]:
Taiwan_QQQ = Taiwan_QQQ.drop(['CNTSCHID','CNTSTUID','BOOKID'], axis=1)

In [34]:
# 去除 W_FSTUWT
Taiwan_QQQ = Taiwan_QQQ.drop(['W_FSTUWT'], axis=1)
# 用表達式去除 W_FSTURWT1 到 W_FSTURWT80
Taiwan_QQQ = Taiwan_QQQ[Taiwan_QQQ.columns.drop(list(Taiwan_QQQ.filter(regex='W_FSTURWT')))]
# 去除 UNIT、WVARSTRR、SENWT
Taiwan_QQQ = Taiwan_QQQ.drop(['UNIT', 'WVARSTRR', 'SENWT'], axis=1)

In [35]:
# 超過總筆數的 5% 的資料缺失的話，就將該欄位刪除
Taiwan_QQQ = Taiwan_QQQ.dropna(thresh=len(Taiwan_QQQ)*0.95, axis=1)
missing_values = Taiwan_QQQ.isnull().sum()
missing_values.sort_values(ascending=False)

EC155Q01DA       362
EC154Q02IA       362
IC010Q07TA       360
ICTOUTSIDE       359
IC014Q06NA       359
                ...
AGE                0
GRADE              0
ST003D02T          0
ST004D01T          0
Reading_score      0
Length: 517, dtype: int64

In [36]:
# 用中位數填補缺失值
Taiwan_QQQ = Taiwan_QQQ.fillna(Taiwan_QQQ.median())
missing_values = Taiwan_QQQ.isnull().sum()
missing_values.sort_values(ascending=False)
missing_values

ST001D01T        0
ST003D02T        0
ST004D01T        0
ST005Q01TA       0
ST006Q01TA       0
                ..
INFOJOB1         0
INFOJOB2         0
Math_score       0
Science_score    0
Reading_score    0
Length: 517, dtype: int64

In [37]:
from sklearn.feature_selection import VarianceThreshold
import numpy as np
# 設定門檻，要刪除幾%的資料
threshold = 0.9
quasi_constant_feature = [] #用來記錄的list

for i in Taiwan_QQQ.columns: #每個特徵依序看
    
    # 計算比率
    predominant = (Taiwan_QQQ[i].value_counts() /
    np.float64(len(Taiwan_QQQ))).sort_values(ascending=False).values[0]
    
    # 假如大於門檻 加入 list
    if predominant >= threshold:
        quasi_constant_feature.append(i)

print(quasi_constant_feature)

['ST006Q01TA', 'ST011Q01TA', 'ST011Q06TA', 'ST011Q12TA', 'ST019AQ01T', 'ST019CQ01T', 'ST127Q01TA', 'ST127Q02TA', 'ST127Q03TA', 'ST062Q01TA', 'ST038Q05NA', 'ST038Q07NA', 'IC001Q04TA', 'EC032Q01TA', 'EC033Q01NA', 'IMMIG', 'REPEAT']

In [38]:
# 刪除低變異數的特徵
Taiwan_QQQ = Taiwan_QQQ.drop(quasi_constant_feature, axis=1)
Taiwan_QQQ

,ST001D01T,ST003D02T,ST004D01T,ST005Q01TA,ST006Q02TA,ST006Q03TA,ST007Q01TA,ST008Q03TA,ST011Q02TA,ST011Q03TA,...,AUTICT,SOIAICT,ICTCLASS,ICTOUTSIDE,INFOCAR,INFOJOB1,INFOJOB2,Math_score,Science_score,Reading_score
567762,10.0,8.0,2.0,1.0,2.0,2.0,2.0,2.0,1.0,1.0,...,-1.1563,-0.7345,1.0418,1.1397,2.2523,1.9988,-1.4728,457.4164,346.4664,350.7617
567763,10.0,4.0,1.0,2.0,2.0,2.0,2.0,2.0,1.0,1.0,...,0.9302,0.7595,-0.6098,-1.3048,0.8502,0.6261,-0.5045,479.3667,477.2560,513.6965
567764,10.0,8.0,2.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,...,2.0258,0.0056,-1.2188,-1.3048,-0.0787,1.9988,-1.4728,514.1154,483.1836,464.3948
567765,10.0,7.0,1.0,3.0,2.0,2.0,2.0,1.0,1.0,1.0,...,0.0979,1.1777,-1.2188,-1.3048,0.5132,0.4595,-1.4728,485.6888,498.2705,504.5347
567766,10.0,2.0,1.0,2.0,2.0,1.0,3.0,2.0,1.0,1.0,...,2.0258,0.5149,-1.2188,-1.3048,-1.3322,-0.9778,1.4601,450.6410,465.8515,465.9621
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575000,10.0,7.0,2.0,2.0,2.0,1.0,2.0,1.0,1.0,2.0,...,2.0258,1.0146,-1.2188,1.1322,0.2123,-0.9778,1.4601,529.7499,411.3110,391.3444
575001,10.0,6.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,...,2.0258,0.5149,-1.2188,0.2858,0.4986,0.1940,0.5132,446.0228,418.9520,398.1433
575002,10.0,3.0,2.0,1.0,2.0,2.0,1.0,2.0,1.0,1.0,...,0.0979,0.1051,-1.2188,-1.3048,2.2523,1.0053,-1.4803,512.6372,449.0055,398.1080
575003,10.0,3.0,2.0,1.0,2.0,1.0,2.0,1.0,1.0,1.0,...,0.0979,0.5149,-1.2188,-1.3048,1.3312,-0.9778,-1.4728,345.9518,371.4060,308.6729
575004,10.0,6.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,2.0,...,-0.7891,-0.7345,2.4394,2.4969,0.7669,-0.9778,1.4601,379.5331,358.4185,284.9204

In [39]:
# 依照四分位距將數學成績分為四個等級，並新增欄位Math_level
# Taiwan_QQQ['Math_level'] = pd.qcut(Taiwan_QQQ['Math_score'], q=4, labels=['D', 'C', 'B', 'A'])
# Taiwan_QQQ.drop(['Math_score','Science_score','Reading_score'], axis=1, inplace=True)

import pandas as pd
import numpy as np

# 假設 df 是你的 DataFrame，value_column 是要分割的列名
mean = Taiwan_QQQ['Math_score'].mean()
std = Taiwan_QQQ['Math_score'].std()

# 按照高斯分布的分位數創建一個新列 'category'
Taiwan_QQQ['Math_level'] = pd.cut(Taiwan_QQQ['Math_score'], bins=[-np.inf, mean, np.inf], 
                        labels=[ 0,1])

Taiwan_QQQ.drop(['Math_score','Science_score','Reading_score'], axis=1, inplace=True)
# 查看結果
print(Taiwan_QQQ[['Math_level']].head())

       Math_level
567762          0
567763          0
567764          0
567765          0
567766          0

/var/folders/tn/ns07k4k912s9m2xh_vhqdnwh0000gn/T/ipykernel_1211/3996944788.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  Taiwan_QQQ['Math_level'] = pd.cut(Taiwan_QQQ['Math_score'], bins=[-np.inf, mean, np.inf],

In [40]:
Taiwan_QQQ.to_feather('Cleaned.feather')